@use '@/styles/variables' as *;

.themeToggle {
  width: 60px;
  height: 60px;
  border-radius: $radius-full;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  background-color: #fff;
  border: 3px solid $color-primary;
  color: $color-primary;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.15);
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease,
    color 0.2s ease,
    filter 0.2s ease;

  &:hover {
    filter: brightness(1.03);
  }

  &.dark {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border-color: $color-white;
    color: #fff;
  }
}
