@use '@/styles/variables' as *;

.themeToggle {
  width: 70px;
  height: 70px;
  border-radius: $radius-full;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  background-color: $color-primary;
  border: none;
  box-shadow: 0px -1.935px 9.677px 0px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease,
    box-shadow 0.2s ease,
    filter 0.2s ease;

  &:hover {
    filter: brightness(1.05);
  }

  &.dark {
    background-color: #828282;
    border: none;
    box-shadow: 0px -1.935px 9.677px 0px rgba(0, 0, 0, 0.1);
  }
}

.themeToggleInner {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    inset 0px -3.889px 3.889px 0px rgba(0, 0, 0, 0.2),
    0px 1.935px 9.677px 0px rgba(0, 0, 0, 0.1);

  .dark & {
    box-shadow:
      inset 0px -3.871px 3.871px 0px rgba(0, 0, 0, 0.2),
      0px 1.935px 9.677px 0px rgba(0, 0, 0, 0.1);
  }
}
