@import '@/styles/variables.scss';

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: $font-size-lg;
  font-weight: $font-weight-semibold;
  line-height: $line-height-normal;
  letter-spacing: -0.72px;
  white-space: nowrap;
}

.waiting {
  background-color: #fdf8ee !important;
  color: #202020;
  border: 1px solid #e8e8e8;
}

.expired {
  background-color: #e0e0e0 !important;
  color: #202020;
  border: 1px solid #d9d9d9;
}

.completed {
  background-color: #a92f4a !important;
  color: $color-white;
}
