@import '@/styles/variables.scss';

.section2 {
  margin-top: 80px;

  .container {
    width: 100%;
    max-width: $container-max-width;
    padding: 0 20px;
    margin: 0 auto;
  }

  .flex {
    display: flex;
    gap: 50px;

    @media (max-width: $breakpoint-2xl) {
      gap: 36px;
    }

    @media (max-width: $breakpoint-xl) {
      gap: 28px;
    }

    @media (max-width: $breakpoint-lg) {
      flex-direction: column;
    }
  }
}

.notice {
  width: 100%;

  ul {
    margin-top: 40px;
    list-style: none;
    padding: 0;

    @media (max-width: $breakpoint-2xl) {
      margin-top: 32px;
    }

    li {
      & + li {
        margin-top: 24px;
      }

      a {
        height: 90px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        background: var(--color-white, #fff);
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
        gap: 40px;
        padding: 0 48px;
        text-decoration: none;
        transition: all 0.3s;

        @media (max-width: $breakpoint-2xl) {
          height: 84px;
          gap: 32px;
          padding: 0 36px;
        }

        &:hover {
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        }

        span {
          font-size: 22px;
          font-weight: 500;
          width: calc(100% - 160px);
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          color: var(--color-darken, #000);

          @media (max-width: $breakpoint-2xl) {
            font-size: 20px;
            width: calc(100% - 140px);
          }
        }

        em {
          display: block;
          width: 160px;
          flex-shrink: 0;
          padding-left: 40px;
          margin-left: 40px;
          position: relative;
          font-size: 22px;
          color: var(--gray-500, #adb5bd);
          font-style: normal;

          @media (max-width: $breakpoint-2xl) {
            width: 140px;
            font-size: 20px;
            padding-left: 32px;
            margin-left: 32px;
          }

          &::before {
            content: '';
            width: 1px;
            height: 60%;
            background-color: var(--gray-300, #dee2e6);
            position: absolute;
            left: 0px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}

.titleWrap {
  display: flex;
  align-items: center;
}

.sectionTitle {
  font-size: 33px;
  font-weight: 700;
  font-family: 'Paperozi', sans-serif;
  color: var(--color-darken, #000);
}

.tabsWrap {
  margin-left: auto;
  display: flex;
  align-items: center;
  border: 1px solid var(--gray-500, #adb5bd);
  border-radius: 22.5px;

  .tabs {
    --active-index: 0;
    position: relative;
    display: flex;
    align-items: center;

    button {
      flex: 1 0 50%;
      font-size: 18px;
      color: var(--gray-500, #adb5bd);
      font-weight: 600;
      height: 45px;
      border-radius: 22.5px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
      background-color: transparent;
      transition: color 0.3s;
      z-index: 1;
      position: relative;
      border: none;
      cursor: pointer;

      &.on {
        color: var(--color-white, #fff);
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 45px;
      border-radius: 22.5px;
      background-color: var(--color-darken, #000);
      z-index: 0;
      transform: translateX(calc(var(--active-index) * 100%));
      transition: transform 0.3s ease;
    }
  }

  .more {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    background-color: var(--gray-200, #e9ecef);
    margin-left: 10px;
    display: block;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 2px;
      height: 20px;
      background: var(--gray-600, #6c757d);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 2px;
      background: var(--gray-600, #6c757d);
    }
  }
}

.swiper {
  width: 600px;
  height: 412px;
  margin-left: auto;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  flex-shrink: 0;

  @media (max-width: $breakpoint-2xl) {
    width: 520px;
    height: 381.5px;
  }

  @media (max-width: $breakpoint-lg) {
    width: 60%;
    height: 100%;
    margin: 0 auto;
  }

  .swiperWrapper {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .swiperSlide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;

    a {
      display: block;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .swiperControl {
    width: 100%;
    height: 48px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    padding: 0 30px;

    @media (max-width: $breakpoint-2xl) {
      height: 44px;
      padding: 0 24px;
    }
  }

  .swiperPagination {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 700;
    width: auto;
    position: static;

    @media (max-width: $breakpoint-2xl) {
      font-size: 16px;
    }

    .current {
      font-size: 20px;
      color: #fff;

      @media (max-width: $breakpoint-2xl) {
        font-size: 18px;
      }
    }

    .sep {
      margin: 0 4px;
    }
  }

  .controlBtn {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: auto;

    button {
      width: 24px;
      height: 24px;
      background-color: #000;
      border-radius: 5px;
      position: static;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      font-size: 0;
      pointer-events: auto;
      cursor: pointer;
      border: none;

      &.swiperButtonPrev::before {
        content: '';
        width: 12px;
        height: 12px;
        display: block;
        background-image: url(/images/icon/icon-left.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }

      &.swiperButtonNext::before {
        content: '';
        width: 12px;
        height: 12px;
        display: block;
        background-image: url(/images/icon/icon-right.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }

      &.swiperPause::before {
        content: '';
        width: 12px;
        height: 12px;
        display: block;
        background-image: url(/images/icon/icon-pause.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }
}
