@import '@/styles/variables.scss';

.scrollableBox {
  border: 1px solid $gray-9; // Figma 디자인에 맞게 #8c8c8c로 수정
  border-radius: 10px; // Figma 디자인에 맞게 10px로 수정
  background-color: #fff;
  overflow-y: auto;
  padding: 20px 15px 20px 20px; // Figma 디자인에 맞게 좌 20px, 우 15px로 수정
  height: 210px; // Figma 디자인에 맞게 높이 210px로 수정

  &.noBorder {
    border: none;
    border-radius: 0;
  }

  &.noBackground {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $gray-4;
    border-radius: 40px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: 60px;
    height: 85.333px;

    &:hover {
      background: darken($color-primary, 10%);
    }
  }
}
