@import '@/styles/variables.scss';

.scrollableBox {
  border: 1px solid $gray-9;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  height: 210px;
  display: flex; // flexbox로 내부 레이아웃 관리

  &.noBorder {
    border: none;
    border-radius: 0;
  }

  &.noBackground {
    background-color: transparent;
  }
}

.scrollableBoxInner {
  flex: 1;
  height: calc(100% - 30px); // 상하 마진(15px * 2) 제외
  overflow-y: auto;
  margin: 15px; // 스크롤바와 border 사이 여백

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $gray-4;
    border-radius: 40px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: 60px;

    &:hover {
      background: darken($color-primary, 10%);
    }
  }
}
