@import '@/styles/variables.scss';

.wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.main {
  flex: 1;
  padding: 80px 0;

  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.loginContainer {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}
