@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.wrap {
  @include page-wrap;
}

.main {
  @include page-main-simple(600px);
}

.loginContainer {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}
