@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.wrap {
  @include page-wrap-no-breadcrumbs;
}

.main {
  @include page-main-simple($container-max-width);
}

.signupContainer {
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
}
