@import '@/styles/variables.scss';

.verificationGuideBox {
  margin-bottom: 40px;

  // 테블릿 (769px ~ 1429px)
  @media (min-width: calc(#{$breakpoint-md} + 1px)) and (max-width: 1429px) {
    margin-bottom: 40px;
  }

  // 모바일
  @media (max-width: $breakpoint-md) {
    margin-bottom: 40px;
  }
}

.verificationCardsWrapper {
  margin-bottom: 40px;

  // 테블릿 (769px ~ 1429px)
  @media (min-width: calc(#{$breakpoint-md} + 1px)) and (max-width: 1429px) {
    margin-bottom: 40px;
  }

  // 모바일
  @media (max-width: $breakpoint-md) {
    margin-bottom: 40px;
  }
}
