@import '@/styles/variables.scss';

.progressStepsContainer {
  @media (max-width: 768px) {
    width: 100%;
    overflow: auto;
    position: absolute;
    left: 0;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
    }
  }
}

.progressSteps {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-bottom: 60px;
  padding-bottom: 0;

  @media (max-width: 768px) {
    width: fit-content;
    align-items: center;
    background-color: #7a1f2e;
    border-radius: 50px;
    padding: 5px 5px;
    margin-bottom: 40px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 16px;
    margin: 0px 10px 0px 10px;
    // min-width: 768px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.progressLine {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #e0e0e0;
  z-index: 0;

  @media (max-width: 768px) {
    display: none;
  }
}

.stepWrapper {
  position: relative;
  z-index: 2;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $color-bg;
    z-index: 1;
  }

  @media (max-width: 768px) {
    position: static;
    flex: none;

    &::before {
      display: none;
    }
  }
}

.step {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0;
  position: relative;
  z-index: 1;
  // transition: all 0.3s;
  white-space: nowrap;
  background: transparent;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
  flex: 1;
  padding: 25px 24px;

  @media (max-width: 768px) {
    flex: none;
    gap: 0;
    padding: 0;
    color: #ffffff;
    white-space: nowrap;
    padding: 10px 12px;
  }
}

.stepNumber {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  color: #666666;

  @media (max-width: 768px) {
    font-size: 16px;
    color: #ffffff;
  }
}

.stepLabel {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  color: #666666;

  @media (max-width: 768px) {
    font-size: 16px;
    color: #ffffff;
  }
}

.step.active {
  background-color: $color-primary;
  border-radius: 50px;
  box-shadow: 0 12px 8px rgba(0, 0, 0, 0.12);
  position: relative;
  z-index: 2;

  @media (max-width: 768px) {
    background-color: $color-white;
  }

  .stepNumber {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;

    @media (max-width: 768px) {
      font-size: 16px;
      color: $color-primary;
    }
  }

  .stepLabel {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;

    @media (max-width: 768px) {
      font-size: 16px;
      color: $color-primary;
    }
  }
}
