@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.wrap {
  @include page-wrap-no-breadcrumbs;
  background-color: var(--color-white, #fff);

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-white, #0e0f10);
  }

  [data-theme='dark'] & {
    background-color: var(--color-white, #0e0f10);
  }
}
