@import '@/styles/variables.scss';

.wrap {
  min-height: 100vh;
  background-color: var(--color-white, #fff);

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-white, #0e0f10);
  }

  [data-theme='dark'] & {
    background-color: var(--color-white, #0e0f10);
  }
}
